body {
  max-width: 960px; 
}

main {
  width: 80%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200px;
  vertical-align: baseline;
}

#external-links {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0
  left: 0;
  width: 20%;
  background: white;
  vertical-align: baseline;
  margin: auto;

}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: small;
  }
}


@media screen and (min-width: 1000px) {
  h1 {
    font-size: xx-large;
    font-variant: small-caps;
  }
}

/*@media screen and (min-width: 1000 px){
  html {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }*/

  /*#external-links {
    width: 200px;
    vertical-align: baseline;
    display: block;
    column-count: 1;
  }
  main {
    width: 50%;
    display: block;
    vertical-align: baseline;
    column-count: 2;
  }
  #diy {
    width: 30%;
    display: block;
    vertical-align: baseline;
    column-count: 3;
  }
}*/

/*@media screen and (max-width: 500px) {
  #external-links {
    display: block;
    position: relative;
    margin-right: 0;
    width: 100%;
    margin: auto;
  }
  main {
    display: block;
    position: relative;
    top: 20%;
    margin-right: 0;
    width: 100%;
    margin: auto;
  }
}*/

/*@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}