#octopus{
	margin: auto;
	width: 50%;
	padding: 200px;
	position: absolute; 
	z-index: 1; 

}

#glasses{
	position: relative;
	top: 315px;
	z-index: 2; 
	margin: auto; 
	width: 66%

}

#hat{
	position: relative;
	z-index: 3;
	margin: auto;
	width: 73%; 
}